div(id="timer")
  div(id="year")
  div(id="today")
  div(id="clock")
    div(id="hours")
    div(id="minutes")
    div(id="seconds")
  div(id="desc")
    div(id="hourdesc")
    div(id="minutedesc")
    div(id="seconddesc")